body{
    background-image:url("back3.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
header{ 
background-color:black;
color:rbg(174, 189, 214);
font-size:4 em;
}
#clockcointainer{
    
    display:flex;
   text-align: center;
   height:100dvb;
    align-items:center;
}
#clock{
   font-size:6em;
   font-weight: bold;
    width:100%;
  
   font-family: monospace;
   


}
